h1{
    color: aqua;
}
p{
  color: #ff0;
}
/* Nav1 CSS*/

#navigation{
  width: 100%;
}
#nav1{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    background-color: #dddddd;
  }
  #navbar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
    color: black;
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
    color: rgb(131, 9, 142);
  }
  #hamburger{
    display: none;
    margin-left: auto;
    font-size: 2rem;
  }
  #hamburger:hover{
    color: rgb(131, 9, 142);
    cursor: pointer;
  }
  /* Nav1.2 CSS*/
#navbar-vertical{
    list-style: none;
    margin-top: 0; 
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    background-color: #dddddd;
    display: none;

}

/*card 1*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #131313;
}

.container{
  position: relative;
}

.container .card{
  position: relative;
  width: 320px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}

.container .card:before{
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #9bdc28;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container .card:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.container .card:after{
  content: 'Nike';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255,255,25,0.05)
}

.container .card .imgBx{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.container .card:hover .imgBx{
  top: 0%;
  transform: translateY(0%);
    
}

.container .card .imgBx img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-25deg);
  width: 270px;
}

.container .card .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container .card:hover .contentBx{
  height: 210px;
}

.container .card .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.container .card .contentBx .size, .container .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.container .card:hover .contentBx .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.container .card:hover .contentBx .color{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container .card .contentBx .size h3, .container .card .contentBx .color h3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container .card .contentBx .size span{
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.container .card .contentBx .size span:hover{
  background: #9bdc28;
}

.container .card .contentBx .color span{
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.container .card .contentBx .color span:nth-child(2){
  background: #9bdc28;
}

.container .card .contentBx .color span:nth-child(3){
  background: #03a9f4;
}

.container .card .contentBx .color span:nth-child(4){
  background: #e91e63;
}

.container .card .contentBx a{
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.container .card:hover .contentBx a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s; 
}

  /* typography one */
  #type-1 {
    color: aquamarine;
    font-size: 6ch;
        font-family: "Sofia";
    }
/* typography two */
  
  #type-2 {
    color: #350d80;
    font-size: 6ch;
        font-family: "Press Start 2P";

  }
  /* typography three */
#type-3 { 
    color: #8e63de;
    font-size: 6ch;
        font-family: "Bungee Inline";
       
}
  /* typography four */
#type-4 {
    font-size: 6ch;
    font-family: "Henny Penny";
}

#button-1 {
  color: rgb(225, 158, 158);
  border-radius: 15%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 6ch;
}
#button-2 {
  color: rgb(93, 230, 187);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 6ch;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
#button-2:hover {
  transform: scale(0.9);
}
#switch-3 {
  color: rgb(255, 0, 191);
  width: 30ch;
  height: 30ch;
  font-size: 200%;
}
#button-4 {
  color: rgb(132, 202, 179);
  font-size: 6ch;
  text-shadow: #e2bde4;
}

/*BASIC CARD*/
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  margin: 20px;
  padding: 20px;
  width: 500px;
  min-height: 200px;
  display: grid;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}
.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}
.card__link,
.card__exit,
.card__icon {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}
.card__link::after {
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.5s;
}
.card__link:hover::after {
  width: 100%;
}
.card__exit {
  grid-row: 1/2;
  justify-self: end;
}
.card__icon {
  grid-row: 2/3;
  font-size: 30px;
}
.card__title {
  grid-row: 3/4;
  font-weight: 400;
  color: #ffffff;
  font-size: 5ch;
}
.card__apply {
  grid-row: 4/5;
  align-self: center;
}
.card-1 {
  background: radial-gradient(#fbdeff, #bb99fa);
}
.hamburger {
  display: none;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.header{
  border-bottom: 1px solid #E2E8F0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

/*Previous / Next Button*/

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
a {
  display: inline-block;
  padding: 8px 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
a:hover {
  background-color: #ddd;
  color: rgb(209, 77, 150);
}
.previous {
  background-color: #f1f1f1;
  color: black;
}
.next {
  background-color: #d3d3d3;
  color: white;
}
.round {
  border-radius: 50%;
}




  /* Nav1 continued CSS*/
  @media screen and (max-width:800px) {
    #navbar{
        display: none;
    }
    #hamburger{
        display: inline-block;
    }

  }
